
.divTable{
    display: table;
    width: auto;
}
.divTableRow {
    display: table-row;
}
.divTableHeading {
    background-color: lightsteelblue;
    display: table-header-group;
}
.divTableCell, .divTableHead {
    border: 1px solid navy;
    display: table-cell;
    padding: 3px 10px;
}
.divTableHeading {
    background-color: lightsteelblue;
    display: table-header-group;
    font-weight: bold;
}
.divTableFoot {
    background-color: lightsteelblue;
    display: table-footer-group;
    font-weight: bold;
}
.divTableBody {
    display: table-row-group;
}
