.div_defweb_form {
	position: relative; 
	border:0px solid #CCCCCC; 
	background: #FFFFFF; 
	/* top: 45px; */
	width:700px;
	/* height: 500px; */
	margin: 0 auto;
	overflow: visible; /* scroll; */
}
#div_defweb_form_logo_pc {
	position: absolute;
	top: 10px;
	left: 100px;
	width: 500px;
	height: 200px;
	text-align: center;
}
.div_defweb_opcoes {
	position: relative;
	text-align: left;
}
.defweb_form {
	position: absolute;
	left:30px;
	width: 635px;
	top: 120px;
	margin: 0 auto;
	text-align: left;
}
.defweb_entrevistado {
    font-family: Verdana, Arial;
    font-size: 10pt;
}
.defweb_periodo {
    font-family: Verdana, Arial;
    font-size: 10pt;
}
.defweb_obs {
    font-family: Verdana, Arial;
    font-size: 8pt;
}
.defweb_titulo {
    font-family: Verdana, Arial;
    font-size: 14pt;
}
.defweb_subtitulo {
    font-family: Verdana, Arial;
    font-size: 12pt;
}
.defweb_enunciado {
    font-family: Verdana, Arial;
    font-size: 10pt;
}
.defweb_resposta {
    font-family: Verdana, Arial;
    font-size: 10pt;
}
.pager > li > a, .pager > li > span{
	background-color: #d9edf7;
}
.content_form {
	padding: 0px 0px 0px 0px;
}

.top_bot_pad {
	padding: 5px 0px 5px 0px;
}

select#dt_ano{
	min-width: 75px;
}
input#nrCep{
	min-width: 80px;
}
input#nrCodTel{
	min-width: 47px;
}

/* report */
.dv_rpt_resultato h1{
	color: #31708f;
	font-size: 30px;
	font-weight: bold;
}

.dv_rpt_palavra h1{
	color: #31708f;
	font-size: 22px;
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}

.dv_rpt_palavra li{
	font-size: 20px;
	font-weight: bold;
	list-style-type: none;
}

.dv_rpt_caract h1, 
.dv_rpt_comporta h1,
.dv_rpt_brilha h1,
.dv_rpt_tropeca h1,
.dv_rpt_franquia h1{
	color: #31708f;
	font-size: 22px;
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}

.dv_rpt_caract ul, 
.dv_rpt_comporta ul,
.dv_rpt_brilha ul,
.dv_rpt_tropeca ul,
.dv_rpt_franquia ul{
	padding: 0 0 0 20px;
}

.dv_rpt_caract li, 
.dv_rpt_comporta li,
.dv_rpt_brilha li,
.dv_rpt_tropeca li,
.dv_rpt_franquia li{
	/*font-size: 14px;*/
	font-size: 12px;
	/*padding: 2px 0 0 2px;*/
	padding: 1px 0 0 1px;
}

li.nb{
	list-style-type: none !important;
}

/* report ABF */
.dv_rpt_abf_palavra h1{
	color: #31708f;
	font-size: 24px;
}

.dv_rpt_abf_palavra li{
	font-size: 20px;
	font-weight: bold;
	list-style-type: none;
}

.dv_rpt_abf_caract h1, 
.dv_rpt_abf_comporta h1,
.dv_rpt_abf_frq_adq h1{
	color: #31708f;
	font-size: 24px;
}

.dv_rpt_abf_caract ul, 
.dv_rpt_abf_comporta ul,
.dv_rpt_abf_frq_adq ul{
	padding: 0 0 0 20px;
}

.dv_rpt_abf_caract li, 
.dv_rpt_abf_comporta li,
.dv_rpt_abf_frq_adq li{
	font-size: 12px;
	padding: 1px 0 0 1px;
}

.dv_rpt_abf_panel_head {
	padding: 5px 5px 5px 5px;
}

.dv_rpt_abf_panel_body {
	padding-top: 0px;
	padding-bottom: 0px;
}

.dv_rpt_abf_panel_footer {
	padding: 5px 0px 0px 0px;
	text-align: center;
}

.dv_rpt_abf_graph_disc {
	margin-right: 5px;
}

.dv_rpt_abf_container {
	
}

.dv_rpt_abf_panel_title {
	padding-left: 5px;
	transform: translateY(5%);
}

.rpt-title{
	font-size: 22px !important;
	font-weight: 300 !important;
}

.rpt-user{
	font-size: 30px !important;
	padding-top: 10px;
}

/* ---------- PRINT USER REPORT ----------*/
@page {
	size: A4 portrait;
	margin: 11mm 14mm 14mm 14mm;
}
@page :first {
	margin-top: 11mm;
}
@page {
   @bottom-right {
    content: counter(page) " de " counter(pages);
   }
}
/*
@media print {
	#dsTopImg {
        position: fixed;
		top: 0mm;
		margin-left: 19px;
	}
	#dsContent {
		margin-top: 17mm;
	}
	
	.rpt_basico .dv_rpt_comporta {
		page-break-before:always;
		margin-top: 40mm;
	}
	/*
	.rpt_basico .dv_rpt_brilha {
		page-break-before:always;
		margin-top: 40mm;
	}
	*/
	/*
	.rpt_basico .dv_rpt_tropeca {
		page-break-before:always;
		margin-top: 40mm;
	}
	*/
	.page-break {
		page-break-before:always;
		margin-top: 40mm;
	}
	/*
	.panel-default {
		border-color: #fff;
	}
	*/
	li {
		page-break-inside: avoid;
	}
	/*
	html, body {
		width: 210mm;
		height: 297mm;
	}
	*/
}
*/
/* ---------- PRINT USER REPORT ----------*/