/* Letras DISC */
.disc_letter_main {
	color: red;
	font-weight: bold;
	font-size: 14pt;
	font-family: monospace;
}

.disc_letter_norm {
	font-size: 14pt;
	font-family: monospace;
	padding-left: 6px;
}

.disc_perc_fator_D, 
.disc_perc_fator_I, 
.disc_perc_fator_S,
.disc_perc_fator_C {
	color: #31708f;
	font-weight: bold;
}

.disc_texto_fator_D, 
.disc_texto_fator_I, 
.disc_texto_fator_S,
.disc_texto_fator_C {
	font-weight: bold;
}

/* Tabela da pesquisa */
.tlb_pesquisa {
	width: 100%;
	border: 0px;
	border-collapse: collapse;
	border-spacing: 1px;
	background-color: #CCCCCC;
}
.tlb_pesquisa td {
	padding: 10px;
	text-align: center;
}

/* Tabela dados do entrevistado */
.tlb_entrevistado {
	width: 100%;
	border: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
	background-color: #CCCCCC;
}
.tlb_entrevistado td {
	padding: 0px;
	text-align: left;
}

.td_entrv_nome {
	font-size: 10pt;
	font-weight: bold;
    vertical-align: middle;
    text-align: left;
}
.td_entrv_dt_termino{
	font-size: 10pt;
    vertical-align: middle;
    text-align: right;
}

/* Filtro */
.dsFiltro {
    background-image: url('../img/lupa_pesquisar.png');
    background-position: 5px 5px; /* xpos ypos */
	padding: 5px 5px 5px 25px !important; /* top right bottom left */
    background-repeat: no-repeat;
    border: 1px solid #ddd;
}

/* Multi Select Checkbox */
.mutliSelect {
	/* width: 300px; */
}
.selectBox {
  border: 1px #dadada solid;
  padding-left: 5px;
  height: 150px;
  line-height: 25px;
  overflow: auto;
}
.selectBox label {
  display: block;
}
.selectBox label input{
	margin-right: 3px;
}
.selectBox label:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}
.selectBox > .checked {
  background-color: #e6e6e6;
}
