

/* Media Queries para cada tamanho de tela */

@media only screen and (min-width : 320px) and (max-width : 480px){
	table{
		border:0px solid yellow;
		padding:0px;
	}

	table tr{
		padding:0px;
	}

	table tr td{
		padding:1px;
		font-size:6pt;
		/*max-width: 320px;*/
	}	

	table tr td a{
		font-size:6pt;
	}		

	input[type="text"], input[type="password"] {
		max-width:240px;
	}	

	input[type="file"] {
		max-width:140px;
	}

	textarea {
		max-width:245px;
	}	

	select {
		max-width:95px;
		padding:0px;
		margin:0px;		
	}		

	div{
		/*max-width: 320px;*/
	}
	
	img,
	embed,
	object,
	video {
	    max-width:290px;
	}
	
	input[type="button"],
	input[type="submit"]{
		 font-size:7pt;
	}		
}



@media only screen and (min-width : 480px) and (max-width : 600px){
	table{
		border:0px solid blue;
		padding:0px;		
	}

	table tr{
		padding:0px;
	}

	table tr td{
		padding:1px;
		font-size:9pt;
		max-width: 480px;		

	}	

	table tr td a{
		font-size:9pt;
	}

	input[type="text"], input[type="password"] {
		max-width:370px;
	}	

	input[type="file"] {
		max-width:140px;
	}

	textarea {
		max-width:370px;
	}	

	select {
		max-width:150px;
		padding:0px;
		margin:0px;					
	}	

	div{		
		/*max-width: 480px;*/
	}

	img,
	embed,
	object,
	video {
	    max-width: 480px;
	}
}


@media screen and (min-width:600px) and (max-width : 768px) { 
	table{
		border:0px solid orange;
		padding:0px;		
	}

	table tr{
		padding:0px;
	}

	table tr td{
		padding:1px;
		font-size:10pt;
		max-width: 600px;		
	}	

	table tr td a{
		font-size:10pt;
	}

	input[type="text"], input[type="password"] {
		max-width:390px;
	}	

	input[type="file"] {
		max-width:165px;
	}

	textarea {
		max-width:390px;
	}	

	select {
		max-width:170px;
		padding:0px;
		margin:0px;			
		
	}	

	div{		
		max-width: 600px;
	}

	img,
	embed,
	object,
	video {
	    max-width: 600px;
	}
}



body {margin: 0px; background: #FFFFFF }
body, li { font-size: 10pt; font-family: Arial; color: #000000; text-decoration:none; }
a { font-size: 10pt; font-family: Arial; color: #000000; text-decoration:none; }
a:hover { color: #2E353E; text-decoration:none;}
td { font-size: 10pt; font-family: Arial; text-decoration:none; vertical-align:top; text-align:left}
form { margin:0; padding:0;}
img { border-width:0px;}
.simples {  background-color: transparent; font-size: 8pt; border-style: solid; border-width: 0px; font-size: 8pt;}
.notselected { font-weight: bold; text-align: center; }
.selected { color: #2E353E; font-weight: bold; text-align: center; font-size: 7.5pt;}
.menu_selected { color: #2E353E; font-weight: bold; text-align: center; font-size: 7.5pt;}
.menu_notselected { font-weight: bold; text-align: center; font-size: 7.5pt;}
.selecionado { color: #2E353E;font-weight: bold; font-size: 10pt;}
.naoselecionado { font-weight: bold; font-size: 7.5pt;}
.diretorio_selecionado { color: #2E353E;font-weight: bold; font-size: 10pt;}
.tituloQuadro { color: #2E353E; font-weight: bold; font-size: 10pt;}
.tituloQuadro:hover { color: #000000; font-weight: bold; font-size: 10pt;}

#link_ajuda { 
	color: #2E353E; 
	font-weight: bold;
}

input[type="text"], input[type="password"] {
	background-color: #F5F5F5; 
	font-size: 10pt; 
	font-family: Arial;
	font-weight: normal; 
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	padding-right: 4px;
	border:1px solid #888888;
	/*border-radius: 10px; */
}


input[type="file"] {
	background-color: #F5F5F5; 
	font-size: 10pt; 
	font-family: Arial;
	font-weight: normal; 
	border-style: solid; 
	border-width: 1px; 
	padding:0; 
	border-color: #888888;
}

textarea {
	background-color: #F5F5F5; 
	font-family: Arial; 
	font-size: 10pt; 
	font-weight: normal; 
	border-style: solid; 
	border-width: 1px; 
	padding:5; 
	border-color: #888888;
}

select {
	background-color: #F5F5F5; 
	font-size: 10pt; 
	font-family: Arial;
	font-weight: normal; 
	border-style: solid; 
	border-width: 1px; 
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 4px;
	padding-right: 0px;
	border-color: #888888;
}


input[type="button"],
input[type="submit"]{
	 background-color: #222222;
	 border: 0;
	 color: #ffffff;
	 height: 22px; 
}

input[type="button"]:hover,
input[type="submit"]:hover{
	background: #2E353E;
}


.fundo1 {
	background-color: #EEEEEE;
}


.tabela {
	width: 100%;
	border-spacing: 1px;
	border-width: 0px;
	background-color: #CCCCCC;
}

.tabelaCabecalho {
	background-color: #EEEEEE;
	text-align: center;
	padding: 10;
	font-weight: bold;
}

.mouseoverMenu {
	background-color: #FFFFFF;
	cursor: pointer;
}

.mouseoutMenu {
	background-color: #EEEEEE;
}



#adm_conteudo{
	position: absolute;
	z-index: 1;
	visibility: visible;
	display: none;
	margin-top:10px;
	_margin-top:30px;
	margin-left:212px;
	_margin-left: -100px;
	width: 280px;
	color: black;
	background: #F4F4F4;
}

/*Calendário*/
.dia {font-family: helvetica, Arial; font-size: 8pt; color: #FFFFFF}
.data {font-family: helvetica, Arial; font-size: 8pt; text-decoration:none; color:black;}
.mes {font-family: helvetica, Arial; font-size: 8pt; color:black}
.Cabecalho_Calendario {font-family: helvetica, Arial; font-size: 10pt; color: #000000; text-decoration:none; font-weight:bold}






 /* Rodape */



    #logo_rodape {
        font-family: "Century Schoolbook", Century,Times, serif;
        font-style: italic;
        font-weight: bold;
        color: #000099;
        font-size: 11px;
        margin-right: 5px;
    }

    .div_rodape_copyright {
        position: fixed; 
		bottom: 0px; 
		text-align:center; 
		vertical-align:center; 
		width:100%; 
		background:#f0f0f0;
    }

     .div_rodape_copyright.sobre{
		bottom: 15px;  
		background: transparent;
 }

    .div_rodape_copyright a{
    	color:  #000099;
    	font-size:11px;

    }

    .div_rodape_copyright a:hover{
    	color:  #2E353E;
    }

    #copyright{
        color: #888888;
        margin-right: 15px;
        font-size: 10px;
        padding-top: 3px;
    }





.tabcontentstyle{ /*style of tab content oontainer*/
border: 1px solid gray;
border-top-width: 0;
border-bottom-width: 1;
padding: 10px;
background: #EEEEEE;
}

.tabcontentstyle2{ /*style of tab content oontainer*/
border: 1px solid gray;
border-top-width:0;
margin-top: 0;
margin-bottom: 1em;
padding: 10px;

}

.tabcontentstyle3{ /*style of tab content oontainer*/
border: 1px solid gray;
margin-top: 0;
margin-bottom: 1em;
padding: 10px;
height: 80%;
}





.tabs_out {
	border-style:solid;
	border-width: 1px;
	border-bottom: 0px;
	border-color:gray;
	padding: 6;
	font-family: Arial;
	font-size: 7.5pt;
	font-weight: bold;
	vertical-align: middle;	
}

.tabs_on {
	border-style:solid;
	border-width: 1px;
	border-bottom: 0px;
	padding: 6;
	font-family: Arial;
	font-size: 7.5pt;
	font-weight: bold;
	color: #2E353E;
	border-color:gray;
	background-color: #EEEEEE;
	vertical-align: middle;
	cursor: pointer;
}

.tabs_selected_out {
	border-style:solid;
	border-width: 1px;
	border-bottom: 0px;
	padding: 6;
	font-family: Arial;
	border-color:gray;
	font-size: 7.5pt;
	color: #2E353E;
	background-color: #EEEEEE;
	vertical-align: middle;
	font-weight: bold;
}

.tabs_selected_on {
	border-style:solid;
	border-width: 1px;
	border-bottom: 0px;
	padding: 6;
	font-family: Arial;
	font-size: 7.5pt;
	font-weight: bold;
	color: #2E353E;
	border-color:gray;
	background-color: #EEEEEE;
	vertical-align: middle;
	cursor: pointer;
}

.div_space {
	border-style: solid;
	border-width: 1px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	padding: 6;
	font-family: Arial;
	font-size: 8pt;
	font-weight: bold;
}

.div_space_selected {
	border-style: solid;
	border-width: 1px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	padding: 6;
	font-family: Arial;
	font-size: 8pt;
	font-weight: bold;
}

#div_chat { 
	display: none; position:absolute; 
	left:0%; 
	top:100%; 
	height:200px; 
	width:500px; 
	margin:-200px 0px 0px 0px; 
	z-index:10000;	
}



#div_conteiner {
	width:100%; 
	height:100%; 
	border:0px solid red; 
	padding:0px; 
	margin:0px; 
}


#div_miolo {
	width:100%; 
	height:100%; 
	border:0px; 
	padding:0px; 
	margin:0px; 
	border:0px solid blue; 
}

#div_conteudo {
    margin: 0 auto; 
	padding: 4px;   
	width: 98%;
	height: 100%;
	text-align:left;
}


.div_login	{
	position: relative; 
	border:1px solid #CCCCCC; 
	background: #FFFFFF; 
	top: 120px;
	width:700px;
	height: 400px;
	margin: 0 auto;
}

.div_login.mobile{
	top:50px; width:90%; 
	padding-top:10px; 
	padding-bottom:10px; 
	height: 100%;
}

#div_logo_pc{
	position: absolute;
	top: 50px;
	left: 100px;
	width: 500px;
	height: 200px;
	text-align: center;
}

.login{
	position: absolute;
	left:220px;
	width: 255px;
	top: 270px;
	margin: 0 auto;
	text-align: center;
}


.input_login{	
	position: relative;
	height:25px; 
	width:250px;	
	font-weight: bold;
	text-align:right; 
	font-size:14px; 
	color:#888888;	
}


.div_quadros_arredondados	{
	position: relative; 
	padding: 10px; 
	border-width:1px; 
	border-style: solid; 
	border-color: #CCCCCC; 
	background: #fafafa; 
	width: 95%;
	text-align:left;
    margin: 0 auto; 
}

.div_quadros_arredondados.mobile	{
	padding:2px; 
}


/* ---------------------------- INÍCIO MENU -------------------------------------*/		
#div_menu {
	background-color: #222222;
	text-align: center;
	width: 99%;
    margin: 0 auto; 
}
#div_menu table {
    margin: 0 auto; 
    text-align: left;
}
			
ul.menubar
{
  /*border-radius: 10px;*/ 
  margin: 0px;
  padding: 0px;
  background-color: #222222;
  font-size: 100%;
}

ul.menubar .menuvertical
{
  list-style: none;
  float:left;
  width:100%;
}

ul.menubar .menuvertical a {
  color: #FFFFFF;
  padding-left:10px;
  padding-right:10px;
}

ul.menubar .espaco
{
  margin: 0px;
  padding: 0px;
  list-style: none;
  background-color: #222222;
  float:left;
  width: 1px;
}

ul.menubar ul.menu
{
  display: none;
  position: absolute;
  margin: 0px;
  
}

ul.menubar a
{  
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	padding: 0px;
	display:block;
	text-decoration: none;
}


ul.menu,
ul.menu ul
{
  margin: 0;
  padding: 0;
  width: 300px;
}

ul.menu li
{
  position: relative;
  list-style: none;
  border: 0px;
  float:left;
  width: 300px;
  background-color:#2E353E;
}

ul.menu li a
{
  color: #FFFFFF;
  display: block;
  text-decoration: none;
  background-color: #222222;
  border-bottom: 0px;
  padding: 5px 10px 5px 5px;
}

ul.menu li a:hover
{
  color: #ffffff;
  display: block;
  text-decoration: none;
  background-color: #2E353E;
  padding: 5px 10px 5px 5px;
}

/* Fix IE. Hide from IE Mac \*/
* html ul.menu li { float: left; height: 1%; }
* html ul.menu li a { height: 1%; }
/* End */

ul.menu ul
{
  position: absolute;
  display: none;
  left: 299px; /* Set 1px less than menu width */
  top: 0px;
}

/* Hide sub-menus initially */
ul.menu li.submenu ul { 
	display: none; 
	left: 299px;
} 


/* ---------------------------- FIM MENU -------------------------------------*/


/* ------------- INÍCIO CSS DO CALENDÁRIO NA HOME ---------------*/

.cal {
	background: #222222;
	width: 100%; 
}

#calback {
	background: #FFF url('../../summary/img/calWaiting.gif') no-repeat 50% 100px;
	margin: 0 auto;
	width: 280px;
}

#calback td {
	font-family: "Trebuchet MS", Arial, Veranda, sans-serif;
	padding: 3px;
}

#marketing{
	width: 400px;
	margin: 0 auto;
	
}
#calendar {
	width: 100%;
	height: 100%;
}

.calhead {
	width: 100%;
	font-weight: bold;
	font-size: 12px;  
	color: #ffffff;
}

.calhead img {
	border: none;
}

.dayhead {
	height: 20px;
	background: #EEE;
	font-size: 12px;
}

.dayhead td {
	text-align: center;
	color: #000;
}

.dayrow {
	background: #FFF;
	height: 25px;
}

.dayrow td {
	width: 50px;
	color: #000;
	font-size: .7em;
}

.day {
	float: right;
}

.dayover {
	background: #EEE;
}

.dayout {
	background: #FFF;
}

.HIDDEN {
	display: none;
}

.VISIBLE {
	display: block;
	margin-top: 15px;
	position: absolute;
	width: 180px;
	background: #000000;
	opacity:0.65;
	-moz-opacity: 0.65;
	filter: alpha(opacity=65);
	color: #FFFFFF;
	font-size: 10px;
}

/* ------------- FIM CSS DO CALENDÁRIO NA HOME ---------------*/
