<div class="dv_rpt_caract">
	<h1>PRINCIPAIS CARACTERÍSTICAS</h1>
	<ul>
		<li>Paciente</li>
		<li>Comedido</li>
		<li>Resiliente</li>
		<li>Permissivo</li>
		<li>Indeciso</li>
		<li>Constante</li>
	</ul>
</div>