<div class="dv_rpt_caract">
	<h1>PRINCIPAIS CARACTERÍSTICAS</h1>
	<ul>
		<li>Analítico</li>
		<li>Racional</li>
		<li>Metódico</li>
		<li>Sistemático</li>
		<li>Precavido</li>
		<li>Regrado</li>
		<li>Organizado</li>
	</ul>
</div>