<div class="dv_rpt_caract">
	<h1>PRINCIPAIS CARACTERÍSTICAS</h1>
	<ul>
		<li>Disciplinado</li>
		<li>Direto e franco</li>
		<li>Focado</li>
		<li>Organizado</li>
		<li>Crítico</li>
		<li>Eficiente</li>
	</ul>
</div>