<div class="dv_rpt_caract">
	<h1>PRINCIPAIS CARACTERÍSTICAS</h1>
	<ul>
		<li>Carismático</li>
		<li>Desfocado</li>
		<li>Sociável</li>
		<li>Comunicativo</li>
		<li>Extrovertido</li>
		<li>Bem quisto</li>
		<li>Entusiasmado</li>
	</ul>
</div>