<div class="dv_rpt_caract">
	<h1>PRINCIPAIS CARACTERÍSTICAS</h1>
	<ul>
		<li>Carente</li>
		<li>Harmonioso</li>
		<li>Cooperativo</li>
		<li>Sensível</li>
		<li>Regrado</li>
		<li>Idealista</li>
	</ul>
</div>