<div class="dv_rpt_caract">
	<h1>PRINCIPAIS CARACTERÍSTICAS</h1>
	<ul>
		<li>Otimista</li>
		<li>Extrovertido</li>
		<li>Comunicativo</li>
		<li>Magnético</li>
		<li>Emotivo</li>
		<li>Empático</li>
		<li>Conselheiro</li>
		<li>Prestativo</li>
	</ul>
</div>