<div class="dv_rpt_caract">
	<h1>PRINCIPAIS CARACTERÍSTICAS</h1>
	<ul>
		<li>Independente</li>
		<li>Auto-motivado</li>
		<li>Orientado a resultados</li>
		<li>Determinado</li>
		<li>Desregrado</li>
		<li>Corajoso</li>
		<li>Rápido</li>
		<li>Agressivo</li>
	</ul>
</div>