<div class="dv_rpt_caract">
	<h1>PRINCIPAIS CARACTERÍSTICAS</h1>
	<ul>
		<li>Eficiente</li>
		<li>Independente</li>
		<li>Persistente</li>
		<li>Teimoso</li>
		<li>Orientado a resultados</li>
		<li>Dual</li>
		<li>Executor</li>
		<li>Determinado</li>
	</ul>
</div>
