<div class="dv_rpt_caract">
	<h1>PRINCIPAIS CARACTERÍSTICAS</h1>
	<ul>
		<li>Cooperativo</li>
		<li>Obediente</li>
		<li>Amável</li>
		<li>Tolerante</li>
		<li>Regrado</li>
		<li>Indeciso</li>
	</ul>
</div>