<div class="dv_rpt_caract">
	<h1>PRINCIPAIS CARACTERÍSTICAS</h1>
	<ul>
		<li>Processual</li>
		<li>Metodológico</li>
		<li>Técnico</li>
		<li>Lógico</li>
		<li>Empático</li>
		<li>Regrado</li>
		<li>Introvertido</li>
		<li>Reservado</li>
	</ul>
</div>
