<div class="dv_rpt_caract">
	<h1>PRINCIPAIS CARACTERÍSTICAS</h1>
	<ul>
		<li>Estável</li>
		<li>Bom ouvinte</li>
		<li>Empático</li>
		<li>Paciente</li>
		<li>Cooperativo</li>
		<li>Leal</li>
		<li>Harmonioso</li>
		<li>Rotineiro</li>
	</ul>
</div>