body { margin: 0px; background: #dce5ec; }
body, li { font-size: 10pt; font-family: Arial; color: #000000; text-decoration:none; }
a { font-size: 10pt; font-family: Arial; color: #000000; text-decoration:none; }
text { font-size: 10pt; font-family: Arial; text-decoration:none; vertical-align:top; text-align:left}
td { font-size: 10pt; font-family: Arial; text-decoration:none; vertical-align:top; text-align:left}
form { margin:0; padding:0;}
input { background-color: #F5F5F5; font-size: 8pt; border-style: solid; border-width: 1px; border-color: #000000; font-family: Arial}
img { border-width:0px;}
.simples {  background-color: transparent; font-size: 8pt; border-style: solid; border-width: 0px; font-size: 8pt;}
.textarea { background-color: #F5F5F5; font-size: 8pt; font-family: Arial;  border-style: solid; border-width: 1px; border-color: #000000;}

select { font-family: Arial; background-color: #ffffff; font-size: 8pt; }
.notselected { font-weight: bold; text-align: center; }
.selected { color: #f47a00; font-weight: bold; text-align: center; font-size: 7.5pt;}

.menu_selected { color: #f47a00; font-weight: bold; text-align: center; font-size: 7.5pt;}
.menu_notselected { font-weight: bold; text-align: center; font-size: 7.5pt;}

a:hover { color: #f47a00; text-decoration:none;}
.selecionado { color: #f47a00;font-weight: bold; font-size: 10pt;}
.naoselecionado { font-weight: bold; font-size: 7.5pt;}

.diretorio_selecionado { color: #f47a00;font-weight: bold; font-size: 10pt;}

.tituloQuadro { color: #f47a00; font-weight: bold; font-size: 10pt;}
.tituloQuadro:hover { color: #000000; font-weight: bold; font-size: 10pt;}

#link_ajuda { 
	color: #f47a00; 
	font-weight: bold;
}

.texto {
	background-color: #F5F5F5; 
	font-size: 10pt; 
	font-family: Arial;
	font-weight: normal; 
	padding-top: 5px;
	padding-bottom: 2px;
	padding-left: 4px;
	padding-right: 4px;
	border-color: #888888;
	/*border-radius: 10px; */
}

.frmFiles {
	background-color: #F5F5F5; 
	font-size: 10pt; 
	font-family: Arial;
	font-weight: normal; 
	border-style: solid; 
	border-width: 1px; 
	padding:0; 
	border-color: #888888;
}

.textoarea {
	background-color: #F5F5F5; 
	font-family: Arial; 
	font-size: 10pt; 
	font-weight: normal; 
	border-style: solid; 
	border-width: 1px; 
	padding:5; 
	border-color: #888888;
}

.combo {
	background-color: #F5F5F5; 
	font-size: 10pt; 
	font-family: Arial;
	font-weight: normal; 
	border-style: solid; 
	border-width: 1px; 
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 4px;
	padding-right: 0px;
	border-color: #888888;
}


.botao {
	/*-moz-border-radius:5px;
	-webkit-border-radius:5px;
	 border-radius:5px;*/
	 background-color: #004a8f;
	 border: 0;
	 color: #ffffff;
	 height: 22px; 
}

.bt{
	/*-moz-border-radius:5px;
	-webkit-border-radius:5px;
	 border-radius:5px;*/
	 background-color: #004a8f;
	 border: 0;
	 color: #ffffff;
	 height: 22px;
}

.bt:hover{
	background: #f47a00;
}



.fundo1 {
	background-color: #EEEEEE;
}


.tabela {
	width: 100%;
	border-spacing: 1px;
	border-width: 0px;
	background-color: #CCCCCC;
}

.tabelaCabecalho {
	background-color: #EEEEEE;
	text-align: center;
	padding: 10;
	font-weight: bold;
}

.mouseoverMenu {
	background-color: #FFFFFF;
	cursor: pointer;
}

.mouseoutMenu {
	background-color: #EEEEEE;
}



#adm_conteudo{
	position: absolute;
	z-index: 1;
	visibility: visible;
	display: none;
	margin-top:10px;
	_margin-top:30px;
	margin-left:212px;
	_margin-left: -100px;
	width: 280px;
	color: black;
	background: #F4F4F4;
}

/*Calendário*/
.dia {font-family: helvetica, Arial; font-size: 8pt; color: #FFFFFF}
.data {font-family: helvetica, Arial; font-size: 8pt; text-decoration:none; color:black;}
.mes {font-family: helvetica, Arial; font-size: 8pt; color:black}
.Cabecalho_Calendario {font-family: helvetica, Arial; font-size: 10pt; color: #000000; text-decoration:none; font-weight:bold}






 /* Rodape */



    #logo_rodape {
        font-family: "Century Schoolbook", Century,Times, serif;
        font-style: italic;
        font-weight: bold;
        color: #000099;
        font-size: 11px;
        margin-right: 10px;
    }

    #copyright{
        color: #888888;
        font-weight: bold;
        margin-right: 15px;
        font-size: 10px;
        padding-top: 3px;
		vertical-align:middle;
    }

    #div_rodape_copyright {
        position: fixed; 
		bottom: 0px; 
		text-align:center; 
		vertical-align:center; 
		width:100%; 
		height: 20px;
		background: #dce5ec;
    }






.tabcontentstyle{ /*style of tab content oontainer*/
border: 1px solid gray;
border-top-width: 0;
border-bottom-width: 1;
padding: 10px;
background: #EEEEEE;
}

.tabcontentstyle2{ /*style of tab content oontainer*/
border: 1px solid gray;
border-top-width:0;
margin-top: 0;
margin-bottom: 1em;
padding: 10px;

}

.tabcontentstyle3{ /*style of tab content oontainer*/
border: 1px solid gray;
margin-top: 0;
margin-bottom: 1em;
padding: 10px;
height: 80%;
}





.tabs_out {
	border-style:solid;
	border-width: 1px;
	border-bottom: 0px;
	border-color:gray;
	padding: 6;
	font-family: Arial;
	font-size: 7.5pt;
	font-weight: bold;
	vertical-align: middle;	
}

.tabs_on {
	border-style:solid;
	border-width: 1px;
	border-bottom: 0px;
	padding: 6;
	font-family: Arial;
	font-size: 7.5pt;
	font-weight: bold;
	color: #f47a00;
	border-color:gray;
	background-color: #EEEEEE;
	vertical-align: middle;
	cursor: pointer;
}

.tabs_selected_out {
	border-style:solid;
	border-width: 1px;
	border-bottom: 0px;
	padding: 6;
	font-family: Arial;
	border-color:gray;
	font-size: 7.5pt;
	color: #f47a00;
	background-color: #EEEEEE;
	vertical-align: middle;
	font-weight: bold;
}

.tabs_selected_on {
	border-style:solid;
	border-width: 1px;
	border-bottom: 0px;
	padding: 6;
	font-family: Arial;
	font-size: 7.5pt;
	font-weight: bold;
	color: #f47a00;
	border-color:gray;
	background-color: #EEEEEE;
	vertical-align: middle;
	cursor: pointer;
}

.div_space {
	border-style: solid;
	border-width: 1px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	padding: 6;
	font-family: Arial;
	font-size: 8pt;
	font-weight: bold;
}

.div_space_selected {
	border-style: solid;
	border-width: 1px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	padding: 6;
	font-family: Arial;
	font-size: 8pt;
	font-weight: bold;
}

#div_chat { 
	display: none; position:absolute; 
	left:0%; 
	top:100%; 
	height:200px; 
	width:500px; 
	margin:-200px 0px 0px 0px; 
	z-index:10000;	
}

#div_conteiner {
	width:100%; 
	height:100%; 
	border:0px solid; 
	padding:0px; 
	margin:0px; 
	float:center
}

#div_miolo {
	width:100%; 
	height:100%; 
	border:0px; 
	padding:0px; 
	margin:0px; 
}

#div_conteudo {
    margin: 0 auto; 
	/*border-radius: 10px; */
	padding: 4px; 
	border-width:0px; 
	border-style: solid; 
	border-color: #888888;  
	width: 98%;
	height: 100%;
	text-align:left;
}

#div_login_pc	{
	position: relative; 
	/*border-radius:10px; */
	padding-top: 70px;	
	border-width:1px; 
	border-style: solid; 
	border-color: #CCCCCC; 
	background: #FFFFFF; 
	top: 120px;
	width:700px;
	height:300px;
	margin: 0 auto;
}


#div_quadros_arredondados	{
	position: relative; 
	/*border-radius: 10px; */
	padding: 10px; 
	border-width:1px; 
	border-style: solid; 
	border-color: #CCCCCC; 
	background: #fafafa; 
	width: 95%;
	text-align:left;
    margin: 0 auto; 
}



/* ---------------------------- INÍCIO MENU -------------------------------------*/		
#div_menu {
	/*border-radius: 10px;*/ 
	background-color: #004A8F;
	text-align: center;
	width: 99%;
    margin: 0 auto; 
}
#div_menu table {
	/*border-radius: 10px;*/
    margin: 0 auto; 
    text-align: left;
}
			
ul.menubar
{
  /*border-radius: 10px;*/ 
  margin: 0px;
  padding: 0px;
  background-color: #004A8F;
  font-size: 100%;
}

ul.menubar .menuvertical
{
  margin: 0px;
  padding: 0px;
  list-style: none;
  background-color: #004A8F;
 /*border-radius: 10px;*/
  float:left;
}

ul.menubar .menuvertical a {
  color: #FFFFFF;
}

ul.menubar .espaco
{
  margin: 0px;
  padding: 0px;
  list-style: none;
  background-color: #004A8F;
  float:left;
  width: 1px;
}

ul.menubar ul.menu
{
  display: none;
  position: absolute;
  margin: 0px;
  /*border-radius: 10px;*/
  
}

ul.menubar a
{  
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	padding: 0px;
	display:block;
	text-decoration: none;
	/*border-radius: 10px;*/ 
}


ul.menu,
ul.menu ul
{
  margin: 0;
  padding: 0;
  width: 300px;
}

ul.menu li
{
  position: relative;
  list-style: none;
  border: 0px;
  float:left;
  width: 300px;
  background-color:#f47a00;
}

ul.menu li a
{
  color: #FFFFFF;
  display: block;
  text-decoration: none;
  background-color: #004A8F;
  border-bottom: 0px;
  padding: 5px 10px 5px 5px;
}

ul.menu li a:hover
{
  color: #ffffff;
  display: block;
  text-decoration: none;
  background-color: #f47a00;
  padding: 5px 10px 5px 5px;
}

/* Fix IE. Hide from IE Mac \*/
* html ul.menu li { float: left; height: 1%; }
* html ul.menu li a { height: 1%; }
/* End */

ul.menu ul
{
  position: absolute;
  display: none;
  left: 299px; /* Set 1px less than menu width */
  top: 0px;
}

/* Hide sub-menus initially */
ul.menu li.submenu ul { 
	display: none; 
	left: 299px;
	/*border-radius: 10px;*/
} 

/*.tabelaMenu hover{
	color: #f47a00
	background: #000000;
	border-radius: 10px;
}
*/

/* ---------------------------- FIM MENU -------------------------------------*/


/* ------------- INÍCIO CSS DO CALENDÁRIO NA HOME ---------------*/

.cal {
	background: #004a8f;
	width: 100%; 
}

#calback {
	background: #FFF url('../../summary/img/calWaiting.gif') no-repeat 50% 100px;
	margin: 0 auto;
	width: 280px;
}

#calback td {
	font-family: "Trebuchet MS", Arial, Veranda, sans-serif;
	padding: 3px;
}

#calendar {
	width: 100%;
	height: 100%;
}

.calhead {
	width: 100%;
	font-weight: bold;
	font-size: 12px;  
	color: #ffffff;
}

.calhead img {
	border: none;
}

.dayhead {
	height: 20px;
	background: #EEE;
	font-size: 12px;
}

.dayhead td {
	text-align: center;
	color: #000;
}

.dayrow {
	background: #FFF;
	height: 25px;
}

.dayrow td {
	width: 50px;
	color: #000;
	font-size: .7em;
}

.day {
	float: right;
}

.dayover {
	background: #EEE;
}

.dayout {
	background: #FFF;
}

.HIDDEN {
	display: none;
}

.VISIBLE {
	display: block;
	margin-top: 15px;
	position: absolute;
	width: 180px;
	background: #000000;
	opacity:0.65;
	-moz-opacity: 0.65;
	filter: alpha(opacity=65);
	color: #FFFFFF;
	font-size: 10px;
}

/* ------------- FIM CSS DO CALENDÁRIO NA HOME ---------------*/
