A:hover { color: #0000a5; text-decoration: none ; background-color: ffffff; cursor: hand}

.texto {
	font-family : Tahoma;
	font-size : 15px;
}

DIV {
	font-family : Tahoma;
	font-size : 15px;
}


    .input {
	BACKGROUND-COLOR: #ffffff;
	BORDER-BOTTOM: 1px solid #6699cc;
	BORDER-LEFT: 1px solid #6699cc;
	BORDER-RIGHT: 1px solid #6699cc;
	BORDER-TOP: 1px solid #6699cc;
	FONT-FAMILY: Arial, Geneva, Helvetica, Verdana;
	FONT-SIZE: 9pt;
}
	.cv_input {
	BACKGROUND-COLOR: #f6f6f6;
	BORDER-BOTTOM: 1px solid #6699cc;
	BORDER-LEFT: 1px solid #6699cc;
	BORDER-RIGHT: 1px solid #6699cc;
	BORDER-TOP: 1px solid #6699cc;
	FONT-FAMILY: Arial, Geneva, Helvetica, Verdana;
	FONT-SIZE: 9pt;
}
	.botao {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	background-color: #eeeeee;
	color: #000000;
	BORDER-RIGHT: 1pt solid #6699cc;
	BORDER-TOP: 1pt solid #6699cc;
	BORDER-LEFT: 1pt solid #6699cc;
	BORDER-BOTTOM: 1pt solid #6699cc;
}
	